{% extends 'projects/pages/main.html' %}

{% block item-content %}
<form method="POST">
    {% csrf_token %}
    <div class="main-row p-0 m-0">
        <h3>새 프로젝트 등록</h3>
        <input class="btn btn-outline-secondary main-button-style ml-auto" type="submit" value="&check; 등록하기" />
        <a class="btn btn-outline-secondary main-button-style ml-3 mr-0" href="{% url 'projects-main' %}" role="button">&#10005; 취소하기</a>
    </div>
    <hr></hr>
    <div class="container main-row p-0 m-0">
        <div class="form-group col-6">
            <label class="text-bold" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            <input class="form-control" type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" maxlength="30" placeholder="{{ form.name.label }}" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" required />
        </div>
        <div class="form-group col-12">
            <label class="text-bold" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" rows="10" placeholder="{{ form.description.label }}">{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
        </div>
        <div class="form-group col-12">
            <label class="text-bold" for="{{ form.purpose.id_for_label }}">{{ form.purpose.label }} (150자 내외)</label>
            <p>이번 프로젝트를 통해서 습득하고자 하는 기술, 또는 공부하고자 하는 학술 분야에 관해서 간단하게 적어주세요.</p>
            <textarea class="form-control" id="{{ form.purpose.id_for_label }}" name="{{ form.purpose.html_name }}" rows="10" placeholder="{{ form.purpose.label }}">{% if form.purpose.value %}{{ form.purpose.value }}{% endif %}</textarea>
        </div>
        <div class="form-group col-12">
            <label class="text-bold" for="{{ form.reason.id_for_label }}">{{ form.reason.label }} (150자 내외)</label>
            <p>1번의 목적을 달성하는데 있어 프로젝트 주제를 이와 같이 선정하게 된 이유 혹은 과정을 간단하게 적어주세요.</p>
            <textarea class="form-control" id="{{ form.reason.id_for_label }}" name="{{ form.reason.html_name }}" rows="10" placeholder="{{ form.reason.label }}">{% if form.reason.value %}{{ form.reason.value }}{% endif %}</textarea>
        </div>
        <div class="form-group col-12">
            <label class="text-bold" for="{{ form.plan.id_for_label }}">{{ form.plan.label }}</label>
            <p>현재까지 진행 상황과 함께 앞으로 진행 계획을 구체적으로 적어주세요. 기존 계획과 실제 진행 사항을 비교하여 필요 시 계획을 조금 더 현실적이고 구체적으로 수정해서 기재해주시기 바랍니다.</p>
            <textarea class="form-control" id="{{ form.plan.id_for_label }}" name="{{ form.plan.html_name }}" rows="10" placeholder="{{ form.plan.label }}">{% if form.plan.value %}{{ form.plan.value }}{% endif %}</textarea>
        </div>
        <div class="form-group col-12 col-md-4">
            <label class="text-bold" for="{{ form.secure_level.id_for_label }}">{{ form.secure_level.label }}</label>
            <p>'팀원 지정'으로 설정하시고, 프로젝트 등록 후에 멤버 편집에서 멤버를 추가해주세요.</p>
            <select class="form-control" id="{{ form.secure_level.id_for_label }}" name="{{ form.secure_level.html_name }}" required>
                {% for opt in form.secure_level %}
                {{ opt }}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-lg-8 col-12">
            <label class="text-bold" for="{{ form.file.id_for_label }}">{{ form.file.label }}</label>
            <div>{{ form.file }}</div>
        </div>
    </div>
</form>
{% endblock %}
