{% extends 'projects/pages/main.html' %}

{% block item-content %}
<form method="POST">
    {% csrf_token %}
    <div class="main-row p-0 m-0">
        <h3>새 프로젝트 등록</h3>
        <input class="btn btn-outline-secondary main-button-style ml-auto" type="submit" value="&check; 등록하기" />
        <a class="btn btn-outline-secondary main-button-style ml-3 mr-0" href="{% url 'projects-main' %}" role="button">&#10005; 취소하기</a>
    </div>
    <hr></hr>
    <div class="container main-row p-0 m-0">
        <div class="form-group col-6">
            <label for="{{ form.directors.id_for_label }}">{{ form.directors.label }} (본인 제외)</label>
            <select class="form-control" name="{{ form.directors.html_name }}" id="{{ form.directors.id_for_label }}" multiple="multiple">
                {% for opt in form.directors %}
                {{ opt }}
                {% endfor %}
            </select>
            <p class="text-muted py-1">* 다중 선택은 Window는 Ctrl, 맥은 Command 눌러서 선택해주세요.</p>
        </div>
    </div>
</form>
{% endblock %}
